

  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,
  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    }
/*==========HEADER============*/
  header{
    /*border: solid 2px green;*/
    border-bottom: solid 4px #69BCE6;
    padding: 40px 20% 75px 8%;
    margin: 0;
    font-family: 'Asap', sans-serif;
    line-height: 20px;
    color: #5E9DC8;
  }
  header h1{
    font-size: 30px;
    /*border: 1px solid red;*/
    margin-bottom: 20px;
    margin-top: 5px;
  }
  header nav a{
    align: right;
    display: ;
    /*border: solid 1px blue;*/
    margin: 5px;
    text-decoration: none;
    color: #5E9DC8;
  }

/*=======MENUS GLOBAL==========*/

  section {
    background-color: #69BCE6;
    margin: 10px 0 0 0;
    padding: 20px 40px 50% 40px
  }

  body li{
    list-style-type: none;
    font-family: 'Asap', sans-serif;
    line-height: 150%;
  }
  body h3 {
    /*border: 1px solid green;*/
    margin-bottom: 5px;
    margin-top 5px;
    font-family: 'Merriweather-Sans', sans-serif;
  }

  body ul{
    margin-bottom: 4px;
  }


/* ============MENU TABS=========*/

  .tabs ul{
    /*border: 1px solid red;*/
    text-align: center;
    margin: 0;
    margin-top: -35px;
    margin-left: -15em;
  }
  .tabs li{
    /*border: 1px solid purple;*/
    display: inline;
    background-color: #69BCE6;
    padding: 10px 20px 10px 20px;
    float: center;
    margin-right:0;
    margin-left:0;
    font-family: 'Asap', sans-serif;
  }

/*=========PRODUCTS MENU==========*/
  #products{
    /*border: 2px solid orange;*/
    /*padding: 20px 40px 80px 40px;*/
    display: none;
  }
  #products1{
    float: left;
    width: 33%;
    /*border: 1px solid red;*/
  }
  #products2{
    display: inline-block;
    width: 33%;
    /*border: 1px solid red;*/
  }
  #products3{
    float: right;
    width: 33%;
    /*border: 1px solid red;*/
  }

/*============DOWNLOADS MENU============*/
  #downloads{
    /*border: 2px solid purple;*/
    /*padding: 20px 40px 60px 40px;*/
    display: none;
  }
  #downloads1{
    float: left;
    width: 33%;
    /*border: 1px solid;*/
  }
  #downloads2{
    display: inline-block;
    width: 33%;
    /*border: 1px solid;*/
  }
  #downloads3{
    float: right;
    width: 33%;
    /*border: 1px solid ;*/
  }

/*=======APPLICATIONS MENU========*/
  #applications{
    /*border: 2px solid yellow;*/
    /*padding: 20px 40px 60px 40px;*/
    display: none;
  }
  #applications1{
    float: left;
    width: 33%;
    /*border: 1px solid red;*/
  }
  #applications2{
    display: inline-block;
    width: 33%;
    /*border: 1px solid red;*/
  }

/*===========PROJECTS MENU===========*/

#projects{
  /*border: 2px solid green;*/
  /*padding: 20px 40px 60px 40px;*/
  display: none;
}
#projects1{
  float: left;
  width: 33%;
  /*border: 1px solid red;*/
}
#projects2{
  display: inline-block;
  width: 33%;
  /*border: 1px solid red;*/
}

/*==========FREEWARE MENU=======*/

#freeware{
  /*border: 2px solid black;*/
  /*padding: 20px 40px 90px 40px;*/
  display: none;
}
#freeware1{
  float: left;
  width: 33%;
  /*border: 1px solid red;*/
}
#freeware2{
  display: inline-block;
  width: 33%;
  /*border: 1px solid red;*/
}
#freeware3{
  float: right;
  width: 33%;
  /*border: 1px solid red;*/
}
