
/*This is a block of code to reset default margins, borders, padding etc to zero*/
          html, body, div, span, applet, object, iframe,
        h1, h2, h3, h4, h5, h6, p, blockquote, pre,
        a, abbr, acronym, address, big, cite, code,
        del, dfn, em, img, ins, kbd, q, s, samp,
        small, strike, strong, sub, sup, tt, var,
        b, u, i, center,
        dl, dt, dd, ol, ul, li,
        fieldset, form, label, legend,
        table, caption, tbody, tfoot, thead, tr, th, td,
        article, aside, canvas, details, embed,
        figure, figcaption, footer, header, hgroup,
        menu, nav, output, ruby, section, summary,
        time, mark, audio, video {
          margin: 0;
          padding: 0;
          border: 0;
          vertical-align: baseline;
        }



/*=======HEADER=======*/
header{
  /*border: solid 2px green;*/
  padding: 20px 20px 0 20px;
  margin: 30px 40px 0 40px;
  font-family: 'Asap', sans-serif;
  line-height: 20px;
  color: #5E9DC8;
}
header h1{
  font-size: 30px;
  border: 1px solid red;
  margin-bottom: 20px;
}
header nav a{
  display: inline;
  border: solid 1px blue;
  margin: 5px;
  text-decoration: none;
  color: #5E9DC8;

}
header nav{
  outline: 1px solid green;
  padding-right: 40px;
  margin-bottom: 30px;
}

#container{
  margin: auto;
  width: 80%;
  outline: 2pt solid red;
}

ol{
  border-left:0.5em solid;
  border-color: rgb(104, 192, 240);
  list-style: none;
  margin-left: 8em;
  padding-left: 1.5em;
}


/*========DATE/TIME===========*/
time {
  outline: 2px solid red;
  margin-left: 15%;
  float: left;
  position: absolute
}
time > *{
  display: block;
  text-align: right;
}

time small {
  font-size: 90%;
  color: ;
}
time big {
  font-size:160%;
}

/*=========PAIN-IN-THE-BUTT VERTICAL LINE=======*/
li{
  position: relative;
}


li:before {
    content: "\260E";
    background-color: rgb(52, 148, 203);
    text-align: center;

    width: 2em; height: 2em;
    line-height: 2em;

    border: .5em solid rgb(107, 191, 238);
    border-radius: 50%;

    position: absolute;
    left: -3.25em;
}

/*=====POSTS=====*/
.post{
  border: solid 1px purple;
  margin: 0 10% 25px 25%;
  padding: 20px 40px 30px 40px;
  border-radius: 8px;
  background-color: #69BCE6;
  color: white;
  font-family: 'Asap', sans-serif;
}

.post h3{
  border-bottom: 1px #F5F5FF solid;
  /*padding: 10px 0 10px 0;
  margin: 5px 0 10px 0;*/
  font-family: 'Merriweather-Sans', sans-serif;
  font-size: 25px
}

.post p{
  line-height: 25px;
  border: solid red 1px;
  /*margin-top: 20px;*/
}
