/* styles doc for nested accordions, responsive, mobile-first */

h2 {
  font-size: 4ex;
  color: red;
}

p{
  line-height: 3ex;
}

h3{
  font-size: 2.2ex;
}


/* targets nested ul and its children */
/*.accordion li > :first-child ~ * {
  display: none;
}
.accordion li.accordion-open > :first-child ~ * {
  display: block;
}*/
